# Ignorar a pasta node_modules e packagejson-lock
node_modules/


# pasta backup
backup/
uploads/
#Comandos para criação de tabelas do banco

comandos-criacao-tabelas.sql

#  temporários
*.log
*.tmp

#  sistema operacional
.DS_Store
Thumbs.db

#  pacotes de cache e build
dist/
build/
.cache/

#  arquivos de  ambiente
.env
.env.local
.env.production
.env.development

# IDEs e editores
.vscode/
.idea/
*.iml

certs/

controle_frota_estrutura-06-02-2026.sql
mysql SHOW TABLES;.txt
show create table -banco-gps.txt

# Permitir arquivos SQL de deploy no Railway
!controle_frota_estrutura.sql
!controle_frota_dump.sql
