-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: controle_frota
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `controle_frota`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `controle_frota` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `controle_frota`;

--
-- Table structure for table `abastecimentos`
--

DROP TABLE IF EXISTS `abastecimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abastecimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int DEFAULT NULL,
  `placa` varchar(20) DEFAULT NULL,
  `data_hora` datetime NOT NULL,
  `posto` varchar(150) DEFAULT NULL,
  `tipo_combustivel` varchar(50) DEFAULT NULL,
  `litros` decimal(10,2) NOT NULL,
  `preco_litro` decimal(10,2) NOT NULL,
  `preco_total` decimal(10,2) NOT NULL,
  `km_atual` int DEFAULT NULL,
  `condutor` varchar(150) DEFAULT NULL,
  `criado_por` varchar(150) DEFAULT NULL,
  `criado_em` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_veiculo` (`veiculo_id`),
  KEY `idx_data` (`data_hora`),
  CONSTRAINT `fk_abastec_veiculo` FOREIGN KEY (`veiculo_id`) REFERENCES `veiculos` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario` varchar(255) NOT NULL,
  `rota` varchar(255) NOT NULL,
  `metodo` varchar(10) NOT NULL,
  `detalhes` text,
  `criado_em` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5667 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `carro_reparo`
--

DROP TABLE IF EXISTS `carro_reparo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carro_reparo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `marca` varchar(255) NOT NULL,
  `marca_nome` varchar(255) NOT NULL,
  `modelo` varchar(255) NOT NULL,
  `modelo_nome` varchar(255) NOT NULL,
  `ano` int NOT NULL,
  `valor_fipe` decimal(10,2) NOT NULL,
  `custo_conserto` decimal(10,2) NOT NULL,
  `conserto_viavel` tinyint(1) NOT NULL,
  `dataCadastro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `enderecos_usados`
--

DROP TABLE IF EXISTS `enderecos_usados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enderecos_usados` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lat` decimal(10,7) NOT NULL,
  `lng` decimal(10,7) NOT NULL,
  `display_name` varchar(1020) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usage_count` int DEFAULT '1',
  `last_used_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_coords` (`lat`,`lng`),
  KEY `idx_usage` (`usage_count`),
  KEY `idx_last_used` (`last_used_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `geofences`
--

DROP TABLE IF EXISTS `geofences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `geofences` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `descricao` text,
  `geom` polygon NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manutencoes`
--

DROP TABLE IF EXISTS `manutencoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `descricao` text,
  `km_agendado` int DEFAULT NULL,
  `data_agendada` date DEFAULT NULL,
  `data_realizada` date DEFAULT NULL,
  `status` enum('pendente','realizada','cancelada') DEFAULT 'pendente',
  PRIMARY KEY (`id`),
  KEY `fk_veiculo` (`veiculo_id`),
  CONSTRAINT `fk_veiculo` FOREIGN KEY (`veiculo_id`) REFERENCES `veiculos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manutencoes_arquivos`
--

DROP TABLE IF EXISTS `manutencoes_arquivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencoes_arquivos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `manutencao_id` int NOT NULL,
  `tipo` enum('orcamento','foto','documento','nota','outro') DEFAULT 'foto',
  `filename` varchar(255) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `mime` varchar(100) NOT NULL,
  `size` int NOT NULL,
  `data` longblob NOT NULL,
  `criado_por` varchar(180) DEFAULT NULL,
  `criado_em` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `manutencao_id` (`manutencao_id`),
  CONSTRAINT `fk_manu_arquivo` FOREIGN KEY (`manutencao_id`) REFERENCES `manutencoes_manuais` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manutencoes_config`
--

DROP TABLE IF EXISTS `manutencoes_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencoes_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int NOT NULL,
  `tipo` varchar(255) NOT NULL,
  `km_threshold` int DEFAULT NULL,
  `criado_em` datetime DEFAULT CURRENT_TIMESTAMP,
  `atualizado_em` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_veiculo_tipo` (`veiculo_id`,`tipo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manutencoes_manuais`
--

DROP TABLE IF EXISTS `manutencoes_manuais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencoes_manuais` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int NOT NULL,
  `tipo` varchar(120) NOT NULL,
  `descricao` text,
  `prioridade` enum('baixa','media','alta') DEFAULT 'media',
  `status` enum('pendente','em_manutencao','realizada','cancelada') DEFAULT 'pendente',
  `km_agendado` int DEFAULT NULL,
  `data_agendada` date DEFAULT NULL,
  `data_inicio` datetime DEFAULT NULL,
  `data_realizada` datetime DEFAULT NULL,
  `custo_estimado` decimal(12,2) DEFAULT NULL,
  `custo_real` decimal(12,2) DEFAULT NULL,
  `fornecedor` varchar(180) DEFAULT NULL,
  `responsavel` varchar(180) DEFAULT NULL,
  `criado_por` varchar(180) DEFAULT NULL,
  `criado_em` datetime DEFAULT CURRENT_TIMESTAMP,
  `atualizado_em` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `realizado_em` datetime DEFAULT NULL,
  `realizado_por` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `veiculo_id` (`veiculo_id`),
  CONSTRAINT `fk_manu_manual_veic` FOREIGN KEY (`veiculo_id`) REFERENCES `veiculos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `motoristas`
--

DROP TABLE IF EXISTS `motoristas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motoristas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `cpf` varchar(14) NOT NULL,
  `cnh` varchar(20) NOT NULL,
  `data_validade` date NOT NULL,
  `categoria` varchar(5) NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `foto_cnh` longblob,
  `data_cadastro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `dispositivo` int DEFAULT '2',
  PRIMARY KEY (`id`),
  UNIQUE KEY `cpf` (`cpf`),
  KEY `dispositivo` (`dispositivo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `multas`
--

DROP TABLE IF EXISTS `multas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `multas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int NOT NULL,
  `motorista` varchar(100) DEFAULT NULL,
  `data` datetime DEFAULT CURRENT_TIMESTAMP,
  `multa` varchar(255) NOT NULL,
  `uso_id` int NOT NULL,
  `tipo_infracao_id` int DEFAULT NULL,
  `orgao_autuador` varchar(150) DEFAULT NULL,
  `numero_auto` varchar(100) DEFAULT NULL,
  `placa` varchar(20) DEFAULT NULL,
  `condutor` varchar(150) DEFAULT NULL,
  `infrator` varchar(150) DEFAULT NULL,
  `local_infracao` varchar(255) DEFAULT NULL,
  `limite_via` decimal(10,2) DEFAULT NULL,
  `medicao_realizada` decimal(10,2) DEFAULT NULL,
  `valor_considerado` decimal(10,2) DEFAULT NULL,
  `valor` decimal(10,2) DEFAULT NULL,
  `desconto_percentual` decimal(5,2) DEFAULT NULL,
  `valor_com_desconto` decimal(10,2) DEFAULT NULL,
  `data_vencimento` date DEFAULT NULL,
  `data_recurso` date DEFAULT NULL,
  `criado_em` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `multas_ibfk_1` (`veiculo_id`),
  KEY `fk_multa_tipo_infracao` (`tipo_infracao_id`),
  CONSTRAINT `fk_multa_tipo_infracao` FOREIGN KEY (`tipo_infracao_id`) REFERENCES `tipos_infracoes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `multas_ibfk_1` FOREIGN KEY (`veiculo_id`) REFERENCES `veiculos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `multas_backup_automatic`
--

DROP TABLE IF EXISTS `multas_backup_automatic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `multas_backup_automatic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `multa_id` int DEFAULT NULL,
  `dados` json DEFAULT NULL,
  `criado_em` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_multa` (`multa_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notificacoes`
--

DROP TABLE IF EXISTS `notificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificacoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mensagem` text NOT NULL,
  `data_hora` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `lida` tinyint(1) NOT NULL DEFAULT '0',
  `tipo` varchar(50) DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reembolsos`
--

DROP TABLE IF EXISTS `reembolsos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reembolsos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `motorista_id` bigint unsigned NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `comprovante` varchar(255) DEFAULT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `atualizado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `reembolsos_ibfk_1` (`motorista_id`),
  CONSTRAINT `reembolsos_ibfk_1` FOREIGN KEY (`motorista_id`) REFERENCES `motoristas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `senha_redefinicoes`
--

DROP TABLE IF EXISTS `senha_redefinicoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `senha_redefinicoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token` varchar(255) NOT NULL,
  `expiracao` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `senha_redefinicoes_ibfk_1` (`user_id`),
  CONSTRAINT `senha_redefinicoes_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `session_id` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `expires` bigint unsigned NOT NULL,
  `data` text CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  PRIMARY KEY (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tipos_infracoes`
--

DROP TABLE IF EXISTS `tipos_infracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_infracoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) DEFAULT NULL,
  `descricao` varchar(255) NOT NULL,
  `gravidade` varchar(50) DEFAULT NULL,
  `criado_em` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `uso_veiculos`
--

DROP TABLE IF EXISTS `uso_veiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uso_veiculos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `veiculo_id` int NOT NULL,
  `motorista` varchar(100) NOT NULL,
  `km_inicial` int NOT NULL,
  `km_final` int DEFAULT NULL,
  `foto_km` varchar(255) DEFAULT NULL,
  `data_hora_inicial` datetime DEFAULT NULL,
  `finalidade` varchar(20) NOT NULL,
  `descricao` text,
  `data_hora_final` datetime DEFAULT NULL,
  `imagens` text,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `start_lat` decimal(10,7) DEFAULT NULL,
  `start_lng` decimal(10,7) DEFAULT NULL,
  `end_lat` decimal(10,7) DEFAULT NULL,
  `end_lng` decimal(10,7) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `uso_veiculos_ibfk_1` (`veiculo_id`),
  CONSTRAINT `uso_veiculos_ibfk_1` FOREIGN KEY (`veiculo_id`) REFERENCES `veiculos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `uso_veiculos_imagens`
--

DROP TABLE IF EXISTS `uso_veiculos_imagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uso_veiculos_imagens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `uso_veiculo_id` int DEFAULT NULL,
  `filename` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `uso_veiculos_imagens_ibfk_1` (`uso_veiculo_id`),
  CONSTRAINT `uso_veiculos_imagens_ibfk_1` FOREIGN KEY (`uso_veiculo_id`) REFERENCES `uso_veiculos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL DEFAULT 'user',
  `password_reset_token` varchar(255) DEFAULT NULL,
  `password_reset_expires` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `usuarios_idx_password_reset_token` (`password_reset_token`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `veiculos`
--

DROP TABLE IF EXISTS `veiculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veiculos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `placa` varchar(20) NOT NULL,
  `renavam` varchar(11) DEFAULT NULL,
  `chassi` varchar(17) DEFAULT NULL,
  `motorista` varchar(100) DEFAULT NULL,
  `km` int NOT NULL,
  `ultimaTrocaOleo` int NOT NULL,
  `emUsoPor` varchar(100) DEFAULT NULL,
  `marca` varchar(100) DEFAULT 'Desconhecido',
  `nome_marca` varchar(255) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `nome_modelo` varchar(255) DEFAULT NULL,
  `tipologia` varchar(20) DEFAULT NULL,
  `licenciamento` date DEFAULT NULL,
  `seguro_dpvat` date DEFAULT NULL,
  `crlv` date DEFAULT NULL,
  `status_ipva` enum('Pago','Pendente','Isento') DEFAULT 'Pendente',
  `tipo_combustivel` enum('Gasolina','Etanol','Diesel','Flex','Eltrico','Hbrido') DEFAULT NULL,
  `capacidade_carga` decimal(10,2) DEFAULT NULL,
  `capacidade_passageiros` int DEFAULT NULL,
  `potencia_motor` varchar(20) DEFAULT NULL,
  `dimensoes` varchar(50) DEFAULT NULL,
  `cor` varchar(50) DEFAULT NULL,
  `ano` int DEFAULT NULL,
  `ano_fabricacao` year DEFAULT NULL,
  `ano_modelo` year DEFAULT NULL,
  `nome` varchar(255) NOT NULL,
  `dispositivo` int DEFAULT '2',
  `device_id` int DEFAULT NULL,
  `calibragem_pneus` text,
  `venc_extintor` date DEFAULT NULL,
  `venc_triangulo` date DEFAULT NULL,
  `venc_colete` date DEFAULT NULL,
  `foto_frente` longblob,
  `foto_traseira` longblob,
  `foto_banco` longblob,
  PRIMARY KEY (`id`),
  KEY `dispositivo` (`dispositivo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping events for database 'controle_frota'
--

--
-- Dumping routines for database 'controle_frota'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-06 11:40:22
